version: '3.7'
services:
  postgres:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db_secure
    volumes:
      - postgres_data:/bitnami/postgresql
volumes:
  postgres_data:
